# Python
__pycache__/
*.pyc

# Logs
*.log

# Excel files
*.xlsx

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.spec

# Virtual environment
venv/

# Packing script output
MOD43_Calculator.zip